body, 
html {
    height: 98%;
    width: 100%;

    background-color: #108faf;

    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;

}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
} /* Not used ?! */

/* Layout */
.left {
    width: 20%;
    min-height: 100%;
    float: left;

    background-image: url("../img/bg-left-right-column.jpg");
    background-repeat: repeat-x;
}

.center-container {
    width: 60%;
    min-height: 98%;
    float: left;

    box-shadow: 0px 0px 12px 3px rgba(3,29,40,1);

    border-bottom: 1px solid black;

    position: relative;
}

.right {
    width: 20%;
    min-height: 100%;
    float: left;
    
    background-image: url("../img/bg-left-right-column.jpg");
    background-repeat: repeat-x;

    z-index: -1;
}

/* Header */
.header {
    height: 175px;

    background-color: white;

    color: #108faf;

    /* position: relative; */
}

.logo {
    height: 100%;
    margin-left: 20px;

    position: relative;
}

.logo img {
    position: absolute;
    bottom: 0;
}

/* Footer */
.footer {
    clear: both;

    text-align: center;

    color: beige;
}
