body, 
html {
    height: 98%;
    width: 100%;

    background-color: #108faf;

    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;

}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
} /* Not used ?! */

/* Layout */
.left {
    width: 20%;
    min-height: 100%;
    float: left;

    background-image: url("../img/bg-left-right-column.jpg");
    background-repeat: repeat-x;
}

.center-container {
    width: 60%;
    min-height: 98%;
    float: left;

    box-shadow: 0px 0px 12px 3px rgba(3,29,40,1);

    border-bottom: 1px solid black;

    position: relative;
}

.right {
    width: 20%;
    min-height: 100%;
    float: left;
    
    background-image: url("../img/bg-left-right-column.jpg");
    background-repeat: repeat-x;

    z-index: -1;
}

/* Header */
.header {
    height: 175px;

    padding-right: 20px;

    background-color: white;

    position: relative;

    color: #108faf;
}

.logo {
    width: 290px;
    margin-left: 20px;

    position: absolute;
    bottom: 0;
}

.logo img {
    display: block;
}

/* Contacts */
.contacts {
    float: right;
}

.contacts ul li {
    margin: 5px;
    list-style: none;
    display: block;
}

/* Menu countries */
.menu-countries {
    float: right;

    position: absolute;
    bottom: 0;
    right: 0;
}

ul li { 
    margin: 8px;
    display: inline-block;

    font-size: 11px;

    list-style: none;
}

.menu-countries li a{
    color: #108faf;
}

li a p {
    text-align: center;
}

/* Footer */
.footer {
    clear: both;

    text-align: center;

    color: beige;
}
