.timer {
    margin: 50px auto 20px;
    font-size: 81px;
    font-weight: 500;
    border: 3px solid gray;
    border-radius: 25px;
    padding: 0;
    width: 800px;
}

.hhmmss {
    /* display: block; */
    margin: 0 27%;
}

.miliseconds {
    display: block;
    position: relative;
    left: 520px;
    margin-top: -20px;
    font-size: 18px;
    font-weight: 200;

}

.buttons {
    text-align: center; 
}
