.main
{
    background: #eee;
}

.title
{
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;

    padding: 20px;

    text-align: center;
}

.main-image
{
    text-align: center;
}

.main-font
{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;

    width: 600px;
    margin: auto;
    padding: 24px 0 24px 0;

    text-align: left;

    border-bottom: 1px solid #a9a9a9;
}

.article
{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;

    width: 600px;
    margin: auto;
    padding: 24px 0 24px 0;

    text-align: left;
}

.subtitle
{
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;

    width: 600px;
    margin: auto;
    padding: 20px 0 0 0;

    text-align: left;
}

.inner-text
{
    text-indent: 20px;
}

.list
{
    margin: 0 0 0 40px;
}
