.main {
	background: #eee;
}

.title {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
    text-align: center;	
    padding: 20px;
}

.main-image {
	text-align: center;
}

.main-font {
	width: 600px;
	padding: 24px 0 24px 0;
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 1px solid #a9a9a9;
	text-align: left;
	margin: auto;
}

.footer {
	width: 600px;
	padding: 24px 0 24px 0;
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	text-align: left;
	margin: auto;
}

.subtitle {
	padding: 20px 0 0 0;
	width: 600px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
	text-align: left;
	margin: auto;

}

.inner-text {
	text-indent: 20px;
}

.list {
	margin: 0 0 0 40px;
}