.body_bg_color {
	background: #eee;
}

.text_font_name {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
    text-align: center;	
}

.img_align {
	text-align: center;
}

.text_font {
	width: 600px;
	padding: 24px 0 24px 0;
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 1px solid #a9a9a9;
	text-align: left;
	margin: auto;
}

.text_font_header {
	padding: 20px 0 0 0;
	width: 600px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
	text-align: left;
	margin: auto;

}

.text_align {
	text-align: center;
}

.inner_text {
	text-indent: 20px;
}