/* Font */
@font-face {
    font-family: 'PT Root Light';
    src: url('../fonts/pt_root_ui_light-webfont.eot');
    src: url('../fonts/pt_root_ui_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_root_ui_light-webfont.woff2') format('woff2'),
         url('../fonts/pt_root_ui_light-webfont.woff') format('woff'),
         url('../fonts/pt_root_ui_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* GENERAL. Set up background, font. */
.login-page-bg {
    background: url('../img/bg.jpg') no-repeat;
    /* background-size: 100%; */
    background-position: top;

    font-family: 'PT Root Light', Tahoma, sans-serif;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

/* MENU */
.top-menu {
    height: 36px;
    width: 100%;
    min-width: 800px;
    background-color: #085595;
    position: absolute;
    z-index: 100;
}

.menu {
    float: right;
}

.menu a {
    text-decoration: none;
    /* font-weight: 100; */
}

/* .service-menu {
    float: right;
    color: white;
} */

ul.menu > li {
    display: inline-block;
    margin-right: 15px;
    /* color: #60b5ed; */
    /* font-weight: 100; */
}

ul.menu > li > a {
    color: #60b5ed;
}

.flag-image {
    /* display: inline-block; */
    margin-top: 1px;
    padding: 0 5px;
    border-left: 1px solid #56a2dc;
}

/* LOGIN FORM */
.login-form-wrapper {
    width: 560px;
    /* min-width: 560px; */
    height: 613px;
    /* min-height: 613px; */

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

}

.login-form-header {
    height: 62px;
    margin-bottom: 2px;

    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 62px; /* <- inner text vertical align */

    background-color: rgba(0, 0, 0, 0.5);

}

.login-form {
    height: 549px;

    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.fb-button {
    padding: 36px 0 20px;
 }

 /* разделительная линия OU между хедером и формой. НАЧАЛО */

.divide-line {
     width: 277px;
     margin: 0 auto;
     color: #999999;
}

.separator {
    display: inline-block;
    width: 40%;
    margin-bottom: 5px;
    border-top: 1px solid grey;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
}
    
/* .word-separator {
    display: inline-block;
    color: #999999;
} */
    
/* .right-separator {
    display: inline-block;
    width: 40%;
    margin-bottom: 5px;
    border-top: 1px solid grey;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
 } */



 /* .divide-line p {
     width: 277px;
     margin: 10px auto;
 
     color: #999999;
 
     border-bottom: 1px solid grey;
     box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
     
     line-height: 0.1em;
 } */
/* 
 .divide-line p span{
     display: block;

     margin: 0 auto;
     width: 31px; */
     /* position: absolute; */
     /* background-image: url('../img/1pixel.png'); */
     /* z-index: 1000; */
     
     /* background-color: #7cbfec; */
     /* padding: 0 5px;
 } */
 

 /* .divide-line:before {
     width: 90%;
     content: '';
     border: 1px solid green;
 }
 
 .divide-line:after {
     width: 90%;
     content: '';
     background-image: url('../img/flag.png');
 
     border: 1px solid white;
 
 } */

/* разделительная линия OU между хедером и формой. КОНЕЦ */

.form-fields 
input[type="text"], 
input[type="email"], 
input[type="password"] {
    height: 35px;
    width: 277px;
    margin-top: 14px;
    padding: 0 10px;
    border: 0;
    border-bottom: 1px solid #585a58;

    background-color: black;

    font-size: 14px;
    font-weight: 100;
    color: white;

    outline: none;
}

.form-fields 
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus {
    font-size: 14px;
    font-weight: 100;
    color: white;

    background-color: #1b5288;

    outline: none;

    -webkit-box-shadow: 1px 1px 28px 6px rgba(80,139,181,0.89);
    -moz-box-shadow: 1px 1px 28px 6px rgba(80,139,181,0.89);
    box-shadow: 1px 1px 28px 6px rgba(80,139,181,0.89);
}

.form-fields p {
    width: 276px;
    margin: 15px auto;

    font-size: 12px;
    color: #b0afac;
}

.send-checkbox input[type="checkbox"]{
    margin: 10px 0;
    width: 20px;
}

.send-checkbox {
    font-size: 12px;
    color: #b0afac;
}

button[type="submit"] {
    height: 34px;
    margin-top: 10px;
    padding: 10px;
    border: 0;
    border-radius: 5px;

    line-height: 14px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    
    background: linear-gradient(to bottom, #7cbfec, #2e7ac4);

    cursor: pointer;
}