/* FONT */
@font-face {
    font-family: 'PT Root Light';
    src: url('../fonts/pt_root_ui_light-webfont.eot');
    src: url('../fonts/pt_root_ui_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_root_ui_light-webfont.woff2') format('woff2'),
         url('../fonts/pt_root_ui_light-webfont.woff') format('woff'),
         url('../fonts/pt_root_ui_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* GENERAL SECTION. Set up background, font, clearfix. */
.login-page-bg {
    background: url('../img/bg.jpg') no-repeat;
    /* background-size: cover; */
    background-position: top;

    font-family: 'PT Root Light', Tahoma, sans-serif;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

/* MENU */
.top-menu {
    height: 36px;
    width: 100%;
    min-width: 800px;
    
    position: absolute;
    z-index: 100;

    background-color: #085595;
}

.menu {
    float: right;
}

.menu a {
    display: block;

    height: 100%;
    padding: 0 20px;

    text-decoration: none;

    color: #60b5ed;
}

ul.menu > li {
    display: inline-block;
    margin: 0 -5px 0 0;
    height: 36px;

    line-height: 36px;
}

ul.menu > li > a:hover {
    color: white;
    background-color: #60b5ed;
    cursor: pointer;
}

/* SERVICE MENU. Oferta button, etc */
.service-menu {
    float: right;
    color: white;
}

.service-menu a {
    text-decoration: none;
    color: white;
}

ul.service-menu > li {
    display: inline-block;
    margin: -1px 10px 0 0;
    padding: 0 10px;
    height: 36px;

    list-style: none;

    line-height: 36px;
}

.service-menu .login a {
    text-decoration: underline;
}

.service-menu li.login {
    background: linear-gradient(to bottom, #4faedb, #2e7ac4);
}

img.flag-image {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #56a2dc;

    transform: translateY(30%);
}

/* LOGIN FORM */
.fb-button {
    width: 276px;
    height: 34px;
    margin: 0 auto 20px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 34px;

    background-image: url('../img/fb-btn.png');
    background-repeat: no-repeat;

}

.fb-button a {
    display: block;
    width: 100%;
    height: 100%;

    text-decoration: none;
    color: white;
}

.fb-button a span {
    margin-left: 20px;
}

.login-form-wrapper {
    width: 560px;
    height: 613px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.login-form-header {
    height: 62px;
    margin-bottom: 2px;

    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 62px; /* <- inner text vertical align */

    background-color: rgba(0, 0, 0, 0.5);
}

.login-form {
    padding-top: 36px; 
    height: 549px;

    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

 /* 'OU' SEPARATE LINE */

.divide-line {
     width: 277px;
     margin: 0 auto 10px;
     color: #999999;
}

.separator {
    display: inline-block;
    width: 40%;
    margin-bottom: 5px;
    border-top: 1px solid grey;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
}

.form-fields 
input[type="text"], 
input[type="email"], 
input[type="password"] {
    height: 35px;
    width: 277px;
    margin-top: 14px;
    padding: 0 10px;
    border: 0;
    border-bottom: 1px solid #585a58;

    background-color: black;

    font-size: 14px;
    font-weight: 100;
    color: white;

    outline: none;
}

.form-fields 
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus {
    font-size: 14px;
    font-weight: 100;
    color: white;

    background-color: #1b5288;

    outline: none;

    -webkit-box-shadow: 1px 1px 28px 6px rgba(80,139,181,0.89);
    -moz-box-shadow: 1px 1px 28px 6px rgba(80,139,181,0.89);
    box-shadow: 1px 1px 28px 6px rgba(80,139,181,0.89);
}

.send-checkbox {
    width: 297px;
    margin: 10px auto;
    text-align: left;
    color: #bebcb5;
}

button[type="submit"] {
    height: 34px;
    margin-top: 10px;
    padding: 10px;
    border: 0;
    border-radius: 5px;

    line-height: 14px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    
    background: linear-gradient(to bottom, #7cbfec, #2e7ac4);

    cursor: pointer;
}

.form-fields p {
    width: 276px;
    margin: 15px auto;

    font-size: 12px;
    color: #bebcb5;
}