.global-bg {
    background-color: #f9f9f9;
}

.left-side,
.right-side {
    width: 154px;
}

/* MAIN-MENU */
.main-menu {
    display: inline-block;
    background: url("../img/bg-menu.png");
    width: 144px;
    height: 40px;
    cursor: pointer;
    vertical-align: middle;
    /*padding-top: 5px;*/
    text-align: center;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}

.logo {
    margin: 30px;
}

/* CONTENT */
.content {
    /*width: 300px;*/
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

/* HEADER */


/* LEFT-MENU */


/* FOOTER */
