html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

/* MAIN-MENU */
.menu_wrapper {
    clear: both;
    width: 100%;
}

.menu {
    background-image: url("../img/bg-menu.png")
}

.menu li{
    list-style: none;
    float: left;
    padding: 10px 15px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu li:hover{
    background-image: url("../img/active-top-menu-bg.jpg");
}

.left {
    width: 15%;
    height: 100%;

    float: left;

    background-image: url("../img/left-border.png");
    background-repeat: repeat-y;
    background-color: #f9f9f9;
    background-position: right;
}

.right {
    width: 15%;
    height: 100%;

    float: right;

    background-image: url("../img/right-border.png");
    background-repeat: repeat-y;
    background-color: #f9f9f9;
    background-position: left;
}

/* CONTENT */
.container_wrapper {
    width: 65%;
    margin: 0 auto;
}

.container {
    margin-top: 40px;
    height: 100%;

    float: left;
}

.logo {
    margin-bottom: 30px;

    float: left;
}

.content_wrapper {
    margin: 30px 0;
    font-size: 14px;
}

.content {
    width: 50%;
    height: 800px;

    float: right;
}

.image {
    padding: 30px 10px;
    border: 1px solid #c8c8c8;

    float: right;
}

.description {
    margin: 30px 0 30px 30px;

    float: right;
}

/* SIDEBAR */
.sidebar_wrapper {
    float: left;
}

.sidebar li {
    width: 150px;
    padding: 10px;
    border: 1px solid #c8c8c8;

    list-style: none;
}

.sidebar a {
    color: #767575;
    text-decoration: none;
}

.sidebar li:hover {
    background-color: #f9f9f9;
 }

.sidebar a:hover {
    padding-left: 30px;
    
    color: black;
}

.sidebar a.active {
    padding-left: 30px;

    background-color: #f9f9f9;
}

/* FOOTER */
.footer {
    background-color: #e1e1e1;

    clear: both;
}

.footer li {
    padding: 10px 15px;

    float: left;

    list-style: none;
}

.footer li:hover {
    text-decoration: underline;
}

.footer a {
    color: black;
    text-decoration: none;
}

.copyright {
    float: right;
}
