<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JavaScript Micro-Templating</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="./js/template.js"></script>
  <script src="./js/script.js"></script>
</head>
<body>
  
  <script type="text/template" id="test">
    <% for (var i=0; i < data.length; i++ ) { %>
      <h1><%= data[i].title %></h1>
      <p><%= data[i].content %></p>
      <% } %>
  </script>

</body>
</html>