.menu-wrapper {
    margin: 100px;
}

ul.menu {
    display: inline-block;
    background-color: #2e5786;
    /* padding: 5px 20px; */
    height: 40px;
    line-height: 40px;
}

ul.menu > li {
    display: inline-block;
    /* margin-right: 20px; */
    padding: 0 20px;

    list-style: none;
}

ul.menu li a {
    color: #dbdbdb;
    text-decoration: none;
    display: block;
}

ul.menu li a:hover,
ul.menu li a:hover:after {
    color: #f9f9f9;
}

li.has-submenu {
    position: relative;
    border: 0;
}

li.has-submenu a::after {
    display: inline-block;
    margin-left: 3px;
    color: #dbdbdb;
    font-size: 12px;
    content: "\2913";
}

/* onhover state for the menu item */
li.has-submenu a.changed::after { 
    display: inline-block;
    margin-left: 3px;
    color: #dbdbdb;
    font-size: 12px;
    content: "\2912";
}
/* li.has-submenu .changed {
    color: #dbdbdb;
} */

/* HTML code of arrow down<span>&#10515;</span> */

 /* html example arrow UP */
/* <span>&#10514;</span> */

 /* css example UP arrow */
/* span {
  content: "\2912";
} */

ul.submenu {
    width: 110px;
    padding: 0 10px 0;
    position: absolute;
    left: 15px;
    top: 40px;

    background-color: #2e5786;

    font-size: 12px;

    list-style: none;
}

ul.submenu > li {
    display: none;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid grey;
}

/*  ?? Do I really need this ??? */
ul.submenu > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    /* border-bottom: 1px solid grey; */
}

/*  ?? Do I really need this ??? */
.active {
    display: block;
}

.sub-submenu {
    display: none;
}