ul.menu{
	background-color: #e5eecc;
  	border: solid 1px #c3c3c3;
	cursor: pointer;
    
    width: 430px;
    position: relative;
}

ul.menu > li {
	margin-left: 10px;
    padding: 5px 10px;
	list-style: none;
	display: inline-block;
    cursor: pointer;
    /* border: 1px solid red; */
}

.has-sub ul {
	display: none;
    cursor: pointer;
    
    position: absolute;
    top: 28px;
    left: 85px;
}

.has-sub ul li {
    background-color: #e5eecc;
	list-style: none;
    padding: 10px 15px;
    border-bottom: 1px solid green;

}

ul.sub-menu-level2 li {
    /* display: none; */
    background-color: #cfd8b7;
    width: 100px;
    /* border: 1px solid blue; */
} 

.has-sub ul.sub-menu-level2 {
    /* display: none; */
    position: absolute;
    left: 118px; 
}